/*
Copyright 2021 Thomas Surette

Updated on: 09/30/2021
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
/*Sets the background for the page and changes the font and text color*/
body {
	background-image: url("../img/ptrbackground.jpg");
	background-color:  #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin:0 0;
}
/*Sets the header background*/
header{
	background-image: url("../img/sunset.jpg");
	background-position:right;
	background-repeat:no-repeat;
 	background-color: #030134;
}
/*Sets the nav background and width and puts it on the left*/
nav{
	background-color:#8DC6E4;
	width:15rem;
	float: left;
}
/*Sets the nav list to not have bullets and changes the size of the text*/
nav ul {
	font-size: 1.2em;
	list-style:none;
	padding: 0 1.5rem;
}
/*Sets the link color and boldness and removes the underline*/
nav ul li a{
	text-decoration:none;
	font-weight:bold;
	color:#000231;
}
/*Sets the hover color for links*/
nav a:hover {
	color: #FFFFFF;
}
/*Makes the header white*/
h1 {
	margin-bottom: 0;
	padding: 10px;
	color:white;
}
/*Makes the subheading blue*/
h2 {
	color: #3399CC;
	margin: 0 0 1rem;
}
/*Changes the font for the headings*/
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
/*Puts the image on the left and gives it a right margin*/
img{
	float:left;
	margin-right:1.5rem;
}
/*Makes the contact text slightly smaller*/
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
/*Gives the footer a left margin to align it with the nav 
and formats the text to be small white and italic*/
footer {
	font-family: Georgia, "Times New Roman", serif;
	background-color:white;
	margin-left: 15rem;
	padding: 2rem;
	font-size:small;
	font-style:italic;
}
/*Sets the width of the wrapper, centers it, and makes it the same color
as the nav to make it look like the nav extends downward*/
#wrapper{
	min-width:600px;
	width:80%;
	margin: 0 auto;
	background-color:#8DC6E4;
}
/*Makes the background of the content white and gives it a left margin
to align it with the nav*/
#content{
	background-color:white;
	margin-left: 15rem;
	padding: 1rem 2rem;
}
/*Changes the bullets of the list to be the given image and changes the style
to inside*/
#content ul{
	list-style: inside url('../img/marker.gif');
}
/*Changes the color of the resort name and makes it bold*/
.resort{
	color: #3399CC;
	font-weight:bold;
}
