
.boardSlot {
    width:5rem;
    height:5rem;
    margin:0.25rem;
    border-radius:0.25rem;
    border: 2px solid black;
    padding: 1px;
}

.tileInRack {
    width:5rem;
    margin: 27px 5px 0px 5px;
}

.tileOnBoard {
    width:4.25rem;
    top:0;
    left:3px;
}

.tile { 
    border-radius: 4px; 
    margin: 0px;
 }

 .tileInDialog { 
     width: 2.5rem;
     margin: 1px; 
}

.tileInDialog:hover { 
    cursor: pointer; 
    box-shadow: 0px 0px 5px yellow; 
}

/* Defines the width for the blank tile modal */
#blankTileDialog {
    width: 20rem;
}

/* Highlights the valid slots */
.dragHighlight     { box-shadow: 0px 0px 15px blue; }

/* Highlights the valid slot the user is currently hovering over */
.hoverHighlight    { box-shadow: 0px 0px 15px yellow; }