/* Make cells change color on hover */
table td:hover {
    background-color: rgba(0,0,0,.075);
}
table thead tr:nth-child(2n) td:hover{
    background-color: rgba(0,0,0,.075);
}

/* Make every other row a different color */
table thead tr:nth-child(2n) td{
    background-color:rgba(0,0,0,.025);
}

/* Set height of table and make it scroll on overflow */
#table-div{
    overflow:auto;
    height:500px;
}


/* Code for fixed headers but it looks bad so I'm not using it */

/* table thead tr:first-child th{
    background-color:white;
    position:sticky;
    top:0;
    box-shadow: inset 1px 1px #DDD, 0 1px #DDD;
}
table thead tr th:first-child{
    background-color:white;
    position:sticky;
    left:0;
    box-shadow: inset 1px 1px #DDD, 0 1px #DDD;
} */
